/* Basics */

@font-face {
  font-family: bely;
  src: url(./assets/fonts/Bely\ Display.ttf);
}
@font-face {
  font-family: cousine;
  src: url(./assets/fonts/Cousine-Regular.ttf);
}
@font-face {
  font-family: gothic;
  src: url(./assets/fonts/DidactGothic-Regular.ttf);
}
@font-face {
  font-family: mont;
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(3rem, 4vw, 5rem);
}
h2 {
  font-size: clamp(2.5rem, 3.5vw, 3.8rem);
  font-family: bely;
  letter-spacing: 0.3rem;
}
h3 {
  font-size: clamp(2.5rem, 3.3vw, 4rem);
}
h4 {
  font-size: clamp(2.8rem, 3.2vw, 3.8rem);
}
h5 {
  font-size: clamp(2rem, 2vw, 2.2rem);
}
h6 {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}
p,
label {
  font-size: clamp(2rem, 2vw, 2rem);
}
a {
  font-size: clamp(2rem, 2vw, 2rem);
  text-decoration: none;
}
li {
  font-size: clamp(2rem, 2vw, 2rem);
}

/* ! Header */

/* Nav */
header {
  margin-bottom: 4vw;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 1vw;
}

nav div {
  margin-top: 0.6vw;
}

nav div a {
  color: black;
  padding-right: 1.5vw;
  font-family: mont;
  padding-top: 2vw;
}
nav div a:last-of-type {
  color: #71a894;
}

/* New-Model */
.new-model {
  display: flex;
}

.new-model img {
  margin-top: -4vw;
  width: 50%;
}

.new-model div {
  padding-top: 15vw;
  margin-left: 3vw;
}

.new-model div p {
  color: gray;
  font-family: mont;
  line-height: 2.9rem;
  margin-bottom: 2vw;
}

h1 {
  font-family: bely;
  letter-spacing: 0.3rem;
  margin-bottom: 1vw;
}

.new-model div button {
  background-color: #71a894;
  color: white;
  border: none;
  padding: 1.8rem;
  border-radius: 1rem;
  font-weight: bold;
  font-family: mont;
}

/* ! Main */

/* work */
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10vw;
  margin-left: 3vw;
  margin-right: 3vw;
}

.work h2 {
  margin-bottom: 3vw;
}

.work-p {
  width: 50vw;
  font-size: clamp(1.6rem, 1.6vw, 1.6rem);
  line-height: 2.5rem;
  color: gray;
  font-family: mont;
  margin-bottom: 3vw;
}

.work article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
}

.work article div {
  width: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 4px 1px #707070;
  box-shadow: 0px 0px 4px 1px #707070;
}
.work article div p {
  width: 25vw;
  margin-bottom: 3vw;
  font-family: mont;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: clamp(1.6rem, 1.6vw, 1.6rem);
  line-height: 2.2rem;
}
.work article div h5 {
  font-family: mont;
  margin-bottom: 1vw;
}
.work article div img {
  margin-top: 4vw;
  margin-bottom: 1vw;
}

/* Co-Founders */

.co-founders {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  gap: 7vw;
  margin-bottom: 10vw;
}

.text-box {
  width: 55vw;
}

.text-box img {
  margin-bottom: 1vw;
}

.text-box h2 {
  margin-bottom: 2.5vw;
}

.text-box p {
  color: gray;
  font-family: mont;
  line-height: 2.9rem;
}

.members {
  width: 30vw;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  -webkit-box-shadow: 9px 10px 0px 0px #71a894;
  box-shadow: 9px 10px 0px 0px #71a894;
  padding-bottom: 2vw;
  border-radius: 1rem;
}

.members h6 {
  margin-bottom: 3vw;
  font-family: mont;
  margin-left: 3vw;
  margin-top: 3vw;
}

.dillion,
.anna,
.kas {
  display: flex;
  gap: 1vw;
  margin-bottom: 1vw;
  margin-left: 3vw;
}

.name {
  font-family: mont;
  font-weight: 500;
  margin-top: 1vw;
}

.shares {
  font-family: mont;
  font-weight: 200;
  margin-top: 0.3vw;
  font-size: clamp(1.6rem, 1.6vw, 1.6rem);
}

/* onboard */

.onboard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  gap: 7vw;
  margin-bottom: 9vw;
}

.jassir {
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  border-radius: 1rem;
  padding: 2vw;
  width: 30vw;
}
.jassir-img {
  display: flex;
  gap: 1vw;
  margin-bottom: 2vw;
}

.jassir-text {
  font-size: clamp(1.6rem, 1.6vw, 1.6rem);
  font-family: mont;
  word-spacing: 0.3rem;
  margin-bottom: 2vw;
  line-height: 2.5rem;
}

.jassir div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1.5vw;
}

.onboard button {
  background-color: #303031;
  color: white;
  font-family: mont;
  border: none;
  padding: 1.5rem 0 1.5rem 0;
  border-radius: 1rem;
  font-weight: 600;
  word-spacing: 1rem;
}

/* engage */

.engage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-right: 3vw;
  gap: 7vw;
  margin-bottom: 5vw;
}

.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
}

.first-box {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  border: solid 2px black;
  -webkit-box-shadow: 0px 9px 0px 0px #71a894;
  box-shadow: 0px 9px 0px 0px #71a894;
  width: 75%;
  margin-left: 2vw;
  padding: 1vw;
  gap: 3vw;
  border-radius: 1rem;
}

.first-box div {
  width: 70%;
}
.first-box h6 {
  font-family: mont;
  margin-bottom: 1vw;
}
.first-box div p {
  font-family: mont;
  font-size: clamp(1.6rem, 1.6rem, 1.6rem);
}

.first-box button {
  height: 2rem;
  color: white;
  background-color: #71a894;
  border: none;
  border-radius: 1rem;
}

.second-box {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: rgba(188, 180, 133, 0.233);
  border: solid 2px black;
  padding: 2vw;
  border-radius: 1rem;
}
.second-box div {
  display: flex;
  gap: 0.5vw;
}

.second-box h6 {
  font-family: mont;
}

.second-box div p:nth-of-type(1) {
  font-family: mont;
  font-size: clamp(1.6rem, 1.6rem, 1.6rem);
  margin-top: 0.5rem;
}

.second-box div p:nth-of-type(2) {
  font-family: mont;
  font-size: clamp(1.6rem, 1.6rem, 1.6rem);
  margin-top: 0.5rem;
}

.star {
  width: 2rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-left: 1vw;
}

.third-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px #71a894;
  padding: 2vw;
  margin-top: 2vw;
  height: 100%;
  border-radius: 1rem;
}

.commits p:nth-of-type(1) {
  font-family: mont;
  font-size: clamp(1.6rem, 1.6rem, 1.6rem);
}
.commits p:nth-of-type(2) {
  margin-left: 0.5vw;
}

.img-alex {
  width: 5vw;
  height: 5vw;
}

.commits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5vw;
  margin-top: 1.5vw;
}

.commits img {
  margin-left: 2.5vw;
}

.third-box button {
  background-color: #303031;
  color: white;
  font-family: mont;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: 600;
}
